[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
repo = "*"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
